body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.div-logo {
    height: 90px;
    width: 100%;
    text-align: center;
    display: flex;
    background-color: #ef6000;
    margin-bottom: 25px;
    margin-top: 25px;
}

.div-logo h1 {
    color: white;
    padding-right: 50px;
    padding-left: 10px;
}

.logo {
    height: 100px;
    width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ac7d07ea;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

#prez {
    height: 100px;
    text-align: center;
    padding-top: 100px;
}

#clientRatesDiv {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    text-align: center;
}

#clientRates {
    margin-top: 20px;
    margin-bottom: 20px;
}

#clientRate {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
}