body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.div-logo {
    height: 90px;
    width: 100%;
    text-align: center;
    display: flex;
    background-color: #ef6000;
    margin-bottom: 25px;
    margin-top: 25px;
}

.div-logo h1 {
    color: white;
    padding-right: 50px;
    padding-left: 10px;
}

.logo {
    height: 100px;
    width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-direction: align;
    justify-content: center;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.div-txt-description {
    right: 50px;
    display: flex;
    width: 45%;
    font-size: 25px;
    color: white;
    z-index: 2;
    position: absolute;
    top: 45%;
    line-height: 33px;
}

.img-description {
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 1;
}

.background {
    background-size: cover;
    background-position: left;
    z-index: 1;
    height: 90vh;

}

#prez {
    height: 100px;
    text-align: center;
    padding-top: 100px;
}

#clientRatesDiv {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    text-align: center;
}

#clientRates {
    margin-top: 20px;
    margin-bottom: 20px;
}

#clientRate {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
}

.star-rating {
    white-space: nowrap;
}

.star-rating [type="radio"] {
    appearance: none;
}

.star-rating i {
    font-size: 1.2em;
    transition: 0.3s;
}

.star-rating label:has(~ :checked) i svg {
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
    filter: invert(8%) sepia(100%) saturate(6480%) hue-rotate(246deg) brightness(102%) contrast(143%);
}

.slider {
    width: 700px;
    margin: 0 auto 20px;
    text-align: center;
}

.slider .photos {
    position: relative;
    height: 433px;
}

.slider .photos div {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slider .photos div.shown {
    opacity: 1;
}

.prev:before,
.next:before {
    color: #fff;
    font-size: 100px;
    position: absolute;
    top: 35%;
    cursor: pointer;
}

.prev:before {
    content: '<';
    left: 0;
}

.next:before {
    content: '>';
    right: 0;
}

footer p {
    color: white;
    position: absolute;
    right: 10px;
}