body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

ul {
    list-style-type: none;
}

hr {
    width: 90%;
}

.div-logo {
    height: 150px;
    width: 100%;
    text-align: center;
    background-color: #ef6000;
}

.div-logo h1 {
    color: white;
    padding-right: 50px;
    padding-left: 10px;
}

.logo {
    height: 100px;
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0px 0px 25px 0px;
    padding: 0;
    overflow: hidden;
    background-color: #b98203;
    display: flex;
    flex-direction: align;
    justify-content: center;
}


nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

nav .empty {
    flex-grow: 1;
}

.presentation {
    height: 300px;
    color: white;
    background: linear-gradient(#ff0044, #ff8800);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px;
    padding: 15px;
}

.category {
    margin: 15px 15px 25px 15px;
    padding: 0px 15px 0px 15px;
    height: 360px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.category h2 {
    padding-top: 30px;
}

.category .list-pizza {
    width: 100%;
    background: linear-gradient(#ff0044, #ff8800);
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    margin: 15px;
    padding: 15px;
}

.category .list-pizza .pizza img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.category .list-pizza .pizza p {
    text-align: center;
}

.food-title{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

.food-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.food-item img {
    height: 125px;
    width: 125px;
}

.tomate {
    padding: 10px 25px 10px 25px;
    position: absolute;
    left: 0;
    margin-left: 40px;
    background-color: rgb(252, 71, 71);
    color: white;
}


.creme {
    padding: 10px 25px 10px 25px;
    position: absolute;
    right: 0;
    margin-right: 40px;
    background-color: rgb(46, 46, 46);
    color: white;
}

#clientRatesDiv {
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    text-align: center;
}

#clientRates {
    margin-top: 20px;
    margin-bottom: 20px;
}

#clientRate {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
}

#rateForm {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 10px 0px 10px 0px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rateFormNameInput, #rateFormNote, #rateFormCommentInput {
    margin-bottom: 15px;
}

.star-rating {
    white-space: nowrap;
}

.star-rating [type="radio"] {
    appearance: none;
}

.star-rating i {
    font-size: 1.2em;
    transition: 0.3s;
}

.star-rating label:has(~ :checked) i svg {
    text-shadow: 0 0 2px #ffffff, 0 0 10px #ffee58;
    filter: invert(8%) sepia(100%) saturate(6480%) hue-rotate(246deg) brightness(102%) contrast(143%);
}

.slider {
    width: 700px;
    margin: 0 auto 20px;
    text-align: center;
}

.slider .photos {
    position: relative;
    height: 433px;
}

.slider .photos div {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.slider .photos div.shown {
    opacity: 1;
}

.prev:before,
.next:before {
    color: #fff;
    font-size: 100px;
    position: absolute;
    top: 35%;
    cursor: pointer;
}

.prev:before {
    content: '<';
    left: 0;
}

.next:before {
    content: '>';
    right: 0;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    text-align: center;
}

footer {
    display: flex;
    background-color: #ef6000;
    color: white;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
}

footer div {
    display: flex;
    flex-direction: column;
}